img {
	margin: 5px;
	vertical-align: top;
}

button {
	width: 100px;
	margin-top: -2px;
}

p {
	text-align: center;
}

.container {
	padding-top: 10px;
}

.content {
	padding-top: 10px;
	text-align: left;
}

.form-control {
	display: inline-block;
	width: 300px;
}
